<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/user/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>This is the home page</h1>
        <% if (locals.user) { %>
            <form action="/posts/create" method="POST">
                <textarea placeholder="Write something new" name="posttext"></textarea>
                <input type="text" placeholder="URL" name="url">
                <input type="hidden" value="<%= user._id %>" name="user">
                <button>Create</button>
            </form>
            <hr>
            <%for(p of posts){%>
                <div>
                    <i><%=p.posttext%></i><br>
                    <img src="<%=p.url%>">
                    <!-- <a href="/posts/destroy">Remove</a> -->
                    <div className="LikeCommentandShare"><i class="Like">&hearts;</i><i class="comment"><span class="commento">&euro;</span><span id="commentt">&euro;</span></i></div>
                </div>
                <hr>
                <%}%>
            <hr>
            <a href="/auth/destroy">
                <button>Sign Out</button>
            </a>
        <% } %>
    </div>
</body>
</html>
