<h1>Login page</h1>
<form action="/auth/create-session" method="POST">
    <input placeholder="Example@email.com" required name="email">
    <input placeholder="password" required name="password">
    <button>Login</button>
</form>