<h1>Signup page</h1>

<form action="/auth/create" method="POST">
    <input placeholder="Example@email.com" required type="email" name="email">
    <input placeholder="password" required type="password" name="password">
    <input placeholder="password" required type="password" name="conformPassword">
    <input placeholder="Name" required type="text" name="name">
    <button>Sign Up</button>
</form>